services:
  - type: web
    name: glaucoma-detection
    env: python
    plan: free
    buildCommand: "./build.sh"
    startCommand: "gunicorn glaucoma.wsgi:application"
    envVars:
      - key: PYTHON_VERSION
        value: 3.9.0
      - key: SECRET_KEY
        generateValue: true
      - key: WEB_CONCURRENCY
        value: 4
